<body>
        <div fxFlex fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row wrap" fxLayoutAlign="center">
            <div

              *ngFor="let item of videos"
              fxLayout="column"
              style="padding: 10px;"
              [style.display]="item.show"
            >

            <youtube-player (ready)="playerReady($event)" (stateChange)="videoStateChange($event)" startSeconds="{{ item.timeSet }}" videoId="{{ item.id }}"></youtube-player>


            </div>
          </div>
        </div>
<footer style="background-color:white;">

<mat-slider #matslider thumbLabel [displayWith]="formatLabel" min="{{ epochTimeStart }}" max="{{ epochTimeEnd }}" step="1" value="1" style="width:100%;" (input)="sliderChanged($event)">

</mat-slider>
</footer>
</body>