<h2 mat-dialog-title>Welcome to God Mode</h2>
<mat-dialog-content class="mat-typography">
  <p>My name is Cameron. I created God Mode as a test project to see if I could make it easier for internet sleuths search through the large number of videos that happened simultaneously during the storming of the capitol on January 6, 2021. The idea is to be able to see everything that happened in real time from multiple angles. It is crudely built and has bugs/missing features, but it seems like it could be useful. To use, just slide the slider at the bottom of the page to go through videos in real time as they happen. If you have a video you think should be added, please send it to cameronhenige@gmail.com with a timestamp of the video that can be timestamped to a time in real life. If you are a developer, please feel free to help improve this project by submitting pull requests at https://github.com/godmodecameron/GodModeWebsite. </p>

  <p>* Videos will not show and hide automatically. You must move the slider to update them. This is one of the missing features I was talking about.</p>
  <p>* This was not built for a phone, but feel free to try it.</p>
  <p>* Loading multiple videos uses a lot of data. Be aware.</p>
  <p>* I might abandon this project at any time.</p>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->